.headeritems
{
   color:lightseagreen;
   padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  
  
}

.headeritems:hover{
    color:black
}

.btyn:hover{
    background-color:black
}
.header{
    display:flex;
    
    justify-content:center;
    background-color: aliceblue;
    
}


.search
{
    display:flex;
    
    justify-content:space-between;
    background-color: aliceblue;
    padding-left: 10px;
    border :2px solid cadetblue

}
.searchitem{
    padding:10px
}
.date{
    z-index: 5;
  position:absolute;
  top:16px
    

}
.options {
    z-index: 5;
    position: absolute;
    top: 200px;
    left:800px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: blue;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }